body{
    margin: 0;
    padding: 0;
    cursor: url(img/Cursor/Element\ 3.png),auto;
}

a{
    cursor: url(img/Cursor/Element\ 4.png),auto;
}
.prev{
    cursor: url(img/Cursor/Element\ 5.png),auto;
}
.next{
    cursor: url(img/Cursor/Element\ 5.png),auto;
}
/*fonts*/
/*<uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */


@font-face{
    font-family: 'Montserrat';
    src: url('assets');
}  
h1,h2,h3{
    padding-left: 30px;
    color: #fff;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    
}
h1{
    position: relative;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}
h2{ 
  text-align: center;
  font-weight: 400;  
}
h3{
    text-align: center;
    font-weight: 300;
}
.info p{ 
    /* <uniquifier>: Use a unique and descriptive class name*/
    /* <weight>: Use a value from 100 to 900*/
        font-family: "Reenie Beanie", serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 30px;
        font-size: 30px;   
}     
p{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #fff;
    margin: 20px;
}   

.bodyindex{
    background-image: url(img/hintergrund_website_index.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bodyandere{
    background-image: url(img/hintergrund_website_projekte.jpg);
    background-size: cover;
}

.navigation{
    display: flex;

}
.navigation a{
text-decoration: none;
color: white;
display: flex;
font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.navigation ul {
    list-style-type: none;
    justify-content: left;
    display: flex;
}


.navigation ul li {
    display: inline;
    padding: 20px;
}

.navigation ul li a:hover{
    color:#FF00FF;  /* Default text color */
    position: relative;  /* So that we can use pseudo-elements for the shine effect */
    transition: color 0.5s ease;
}

.dropdown{
    position: relative;
}

.dropdown-content a{
    display: none;
    /*position: absolute;*/
    z-index: 1;
}

.dropdown:hover .dropdown-content a{
    display: inline;
}


 .slideshow-container {
        position: relative;
        width: 100%;
        max-width: 1000px;  /* Maximale Breite für die Slideshow */
        margin: auto;
        overflow: hidden;  /* Verhindert, dass Bilder außerhalb des Containers sichtbar sind */
        padding-bottom: 50px;
        }

   
 .slides {
        display: flex;
        transition: transform 0.3s ease-in-out;  /* Sanfte Übergänge beim Wechseln */
}

 .slide {
        width: 100%;  /* Jedes Bild nimmt die volle Breite des Containers ein */
        max-width: 100%;
        height: auto;
        display: none; /* Standardmäßig werden alle Bilder ausgeblendet */
        opacity: 80%;
 }


.slides .active {
        display: block;  /* Nur das aktive Bild wird angezeigt */
}

button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 50%;
        z-index: 10;
}
    
.prev {
        left: 10px;
}
    
.next {
        right: 10px;
}
    
button:hover {
        background-color: #6DC6D7;
}

.container {
    display: grid;
    grid-template: 1fr 1fr 1fr;
    grid-gap: 20px;
    position: relative;
    margin-left: 20px;
}

.container img{
    width: 30%;
    ;
}
.container.bild1{
    left:0%;
    position: relative;
    padding-left:20px;
}

.container .bild1raus{
    position: relative;
    left: 33%;
}
.container .bild2{
    left: 33%;
    position: absolute;
}
.container .bild3{
position: absolute;
left: 66%;
}

.container .info{
    position: absolute;
    left:66%;
}


.container .text-neben{
    position: absolute;
    left: 33%;
}
.container .text-neben a{
    color:#fff;
}
.container .text-neben a:hover{
    color:#FF00FF;
} 
.inforaus p{
    position: absolute;
    left: 66%;
    font-family: "Reenie Beanie", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    bottom: 20px;
}
.infocook p{
    position: absolute;
    left: 33%;
    font-family: "Reenie Beanie", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    bottom: 150px;
}


/*.gallery{
    display: flex;
    align-items: center;
}
.gallery img{
        width: 30%;
        position: relative;
        margin: 0;

    }*/

.portrait img{
    width: 20%;
}

.impressum{
    text-align: center;
}

    /* Footer styling */
.footer {
    color: #fff;
    text-align: center;
    padding: 5px;
    max-width: 100%;
    bottom: 0;
    display: relative;
  }
  
  .footer-content {
    max-width: 100%;
    margin: 0 auto;
  }
.footertext{
    margin: 0;
}
.footertext a{
    text-decoration:none;
    color: #fff;
}
